table, tr, td 
{
    border: 1px solid black;
}

.st
{
    color: gray;
    font-size: 24pt;
    font-family: Georgia, Times, serif;
    font-weight: normal;
}

.nd
{
    color: silver;
    font-size: 15pt;
    font-family: Georgia, Times, serif;
    font-weight: normal;
}